/*
 * Template Name
 * Description
 * Version
 * Copyright
 * Author: Flyeee Yang 2020
 * Last Modified Date
 *
 */
/*---------------------------*/
/* $Catalog
-----------------------------*/
/**
 * Global
 * Elements
 * Header
 * About
 * Skills
 * Experience
 * Works
 * Contact
 * Footer
 * Parallax graphic
**/

/*---------------------------*/
/* $Global
-----------------------------*/
@media (max-width: 768px) {
	h3 {
		font-size: 2.6rem;
	}
}
@media (max-width: 576px) {
	html {
	  font-size: 9px;
	}
	h1 {
		font-size: 4rem;
	}
	h2 {
		font-size: 2.5rem;
	}
}
@media (max-width: 414px) {
	html {
	  font-size: 9px;
	}
	h1 {
		font-size: 5rem;
	}
	h2 {
		font-size: 3.2rem;
	}
	h3 {
		font-size: 3rem;
	}
	h4 {
		font-size: 2.2rem;
	}
	p {
		font-size: 2.2rem;
	}
}
.wrapper {
	/*width: 100vw;*/
	overflow: hidden;
}
/* 觀察用 */
.skills-content [class^="col-"] {
	/*width: 100%;*/
	/*height: 300px;*/
	/*border: 2px solid #db2be8;*/
}
@media (max-width: 360px) {
	.subtitle {
		font-size: 2rem;
	}
}

/* background
-----------------------*/


/*---------------------------*/
/* $Elements
-----------------------------*/
/* btn
-----------------------*/
/* normal */
.btn {
	display: inline-block;
	vertical-align: top;
	position: relative;
	margin: 0;
	height: 36px;
	line-height: 36px;
	padding: 0 16px;
	min-width: 64px;
	box-sizing: border-box;
	font-size: 14px;
	text-align: center;
	font-weight: 400;
	font-family: 'Noto Sans TC', 'Helvetica', 'Roboto', 'Arial', sans-serif;
	letter-spacing: 0;
	text-decoration: none;
	background-color: #d1d2d3;
	border: 0;
	border-radius: 18px;
	outline: 0;
	cursor: pointer;
	overflow: hidden;
	user-select: none;
	user-drag: none;
	transition: all 0.3s;
}


.btn--primary,
.btn--secondary,
.btn.btn--primary:focus,
.btn.btn--primary:visited {
	color: #fefefe;
}
.btn.btn--primary {
	background-color: transparent;
	border: 2px solid #FB0C66;
	border-radius: 50px;
}
.btn.btn--primary:hover,
.btn.btn--primary:active {
	background-color: #FB0C66;
	color: #fefefe;
	box-shadow: 0 0 20px #FB0C66;
}
.btn.btn--lg {
	font-size: 18px;
	font-weight: 400;
	letter-spacing: 2px;
	line-height: 48px;
	height: 52px;
	border-radius: 26px;
	padding: 0 20px 0 56px;
}
@media (max-width: 576px) {
	.btn.btn--lg {
		width: 180px;
		height: 44px;
		line-height: 40px;
		padding: 0 0 0 35px;
	}
}
.main-hero__content .btn {
	position: absolute;
	bottom: 44px;
	left: 50%;
	transform: translate(-50%);
	margin: 0 auto;
	/*padding-bottom: 50px;*/
}
.works-group .btn {
	/*position: absolute;*/
	/*bottom: 44px;*/
	left: 50%;
	transform: translate(-50%);
	padding: 0 56px 0 30px;
	/*margin: 0 auto;*/
	/*padding-bottom: 50px;*/
}
.works-group .btn--icon-arrow {
	/*display: inline-block;*/
	position: absolute;
	top: 48%;
	left: 106px;
	transform: translateY(-100%) rotate(-90deg);
	width: 20px;
	height: 18px;
	line-height: 50px;
	margin-top: 10px;
	margin-left: 10px;
	/*border: 1px solid red;*/
	background: url(../images/arrow/arrow.svg) center center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	transition: all .3s;
	/*vertical-align: top;*/
}
@media (max-width: 576px) {
	.works-group .btn--icon-arrow {
		top: 46%;
	}
}
.btn.btn--md {
	font-size: 18px;
	font-weight: 400;
	line-height: 48px;
	height: 48px;
	border-radius: 24px;
	padding: 0 48px;
}
.btn.btn--sm {
	font-size: 14px;
	font-weight: 400;
	line-height: 32px;
	height: 32px;
	border-radius: 16px;
	padding: 0 32px;
}

/* icon btn */
.icon-btn {
	display: inline-block;
	width: 32px;
	height: 32px;
	line-height: 32px;
	font-size: 24px;
}
.icon-btn .icon {
	display: block;
	text-align: center;
	/*color: #fff;*/
}

/* btn icon */
.btn--icon-arrow {
	/*display: inline-block;*/
	position: absolute;
	top: 50%;
	left: 10px;
	transform: translateY(-100%);
	width: 20px;
	height: 18px;
	line-height: 50px;
	margin-top: 10px;
	margin-left: 10px;
	/*border: 1px solid red;*/
	background: url(../images/arrow/arrow.svg) center center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	transition: all .3s;
	/*vertical-align: top;*/
}
.btn.btn--primary:hover .btn--icon-arrow {
	/*width: 24px;
	height: 22px;*/
	background: url(../images/arrow/arrow_hover.svg) center center no-repeat;
}

/* text btn */
.text-btn {
	display: inline-block;
	vertical-align: top;
	/*position: relative;*/
	margin: 0;
	/*box-sizing: border-box;*/
	font-size: 18px;
	font-weight: 600;
	font-family: 'Raleway', 'Helvetica', 'Roboto', 'Arial', sans-serif;
	letter-spacing: 0;
	text-decoration: none;
	color: #e881a7;
}
.back-top {
	position: fixed;
	bottom: 64px;
	right: 17px;
	width: 48px;
	height: 48px;
	background: url(../images/top/top.svg) no-repeat center center;
	-webkit-background-size: cover;
	background-size: cover;
	z-index: 999;
	transition: all 0.3s;
}
.back-top:hover {
	width: 52px;
	height: 52px;
	filter: saturate(215%) brightness(100%) contrast(200%);
}




/*---------------------------*/
/* $Header
-----------------------------*/
.main-header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000;
	transition: all .5s;
	/*height: 80px;*/
	background-color: #333333;
}
@media (max-width: 414px) {
	.main-header {
		padding: 12px 0;
	}
}
.main-header.hideUp {
	top: -100px;
}


/* navbar
-----------------------*/
.main-nav {
	height: 64px;
	/*border: 1px solid #fff;*/
	width: 100%;
	display: flex;
	justify-content: space-between;
	/*backdrop-filter: blur(5px);*/
	/*box-shadow: 0px 5px 10px rgba(0,0,0,.2);*/
	/*opacity: 0.8;*/
}
@media (max-width: 1200px) {
	.main-nav {
		padding: 0 30px;
	}
}
@media (max-width: 1024px) {
	.main-nav {
		padding: 0 22px;
	}
}
@media (max-width: 992px) {
	.main-nav {
		padding: 0 22px;
	}
}
@media (max-width: 768px) {
	.main-nav {
		padding: 0 14px;
	}
}
@media (max-width: 576px) {
	.main-nav {
		height: 46px;
		padding: 0 38px;
	}
}
@media (max-width: 414px) {
	.main-nav {
		height: 46px;
		padding: 0;
	}
}
/*@media (max-width: 375px) {
	.main-nav {
		height: 96px;
		padding: 0;
	}
}*/
.main-nav__menu {
	/*float: right;*/
	/*width: 350px;*/
	/*height: 100%;*/
	/*border: 1px solid #ff00ff;*/
	font-family: 'Helvetica', 'Noto Sans TC', sans-serif;
	font-size: 12px;
	font-weight: 400;
	letter-spacing: 1px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	/*padding: 25px 0;*/
}
@media (max-width: 414px) {
	.main-nav__menu {
		display: none;
	}
}
.main-nav__menu-item {
	/*border: 1px solid #ff00ff;*/
	margin-right: 50px;
}
@media (max-width: 576px) {
	.main-nav__menu-item {
		margin-right: 20px;
	}
}
.main-nav__menu-item:last-child {
	margin-right: 0;
}
.main-nav__menu-item-link {
	display: block;
	height: 40px;
	color: #a6a6a6;
	line-height: 40px;
	padding: 0 6px;
	transition: all .3s;
}

.main-nav__menu-item-link:hover,
.main-nav__menu-item-link:focus {
	color: #fff;
}
.main-nav__menu-item-link:after {
	content: '';
	position: absolute;
	bottom: 4px;
	left: 0;
	width: 0;
	opacity: 0;
	border-bottom: 2px solid #FB0C66;
	transition: all .3s;
}
.main-nav__menu-item-link:hover:after,
.main-nav__menu-item-link:focus:after {
	width: 100%;
	opacity: 1;
}


/* logo
-----------------------*/
.main-nav__logo {
	width: 36px;
	/*height: 100%;*/
	/*border: 1px solid #fff;*/
	padding: 15px 0;
	/*background: url(../images/logo/Flyeee-logo-flat.svg) center center no-repeat;*/
	/*-webkit-background-size: cover;*/
	/*background-size: contain;*/
}
@media (max-width: 576px) {
	.main-nav__logo {
		width: 30px;
		padding: 10px 0;
	}
}
@media (max-width: 375px) {
	.main-nav__logo {
		width: 28px;
		padding: 0;
	}
}
.main-nav__logo img{
	width: 100%;
	object-fit: cover;
}

/* shape
-----------------------*/
.shape-rect {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	width: 90px;
	height: 16px;
	background-color: #fff;
	z-index: 100;
}
/*@media (max-width: 1200px) {
	.shape-rect {
		display: none;
		right: -46px;
		width: 90px;
		height: 12px;
	}
}
@media (max-width: 414px) {
	.shape-rect {
		display: none;
	}
}*/
.shape-rect--lg {
	position: absolute;
	top: 30vh;
	left: 0;
	/*bottom: 10vh;*/
	width: 300px;
	height: 63vh;
	/*height: 64vh;*/
	background-color: #00EBE2;
	z-index: -1;
}
@media (max-width: 414px) {
	.shape-rect--lg {
		top: 20vh;
		width: 230px;
		height: 59vh;
	}
}
.shape-line-a {
	position: absolute;
	bottom: 22vh;
	left: 70px;
	width: 131px;
	height: 11px;
	background-color: #FB0C66;
}
@media (max-width: 414px) {
	.shape-line-a {
		bottom: 12vh;
	    left: -30px;
	}
}
.shape-line-b {
	position: absolute;
	top: -16px;
	left: -20px;
	width: 152px;
	height: 4px;
	background-color: #FB0C66;
}
@media (max-width: 414px) {
	.shape-line-b {
		top: 12px;
		width: 112px;
	}
}
.shape-line-c {
	position: absolute;
	top: -8vh;
	right: 50px;
	width: 54px;
	height: 10px;
	background-color: #EBEBEB;
}
@media (max-width: 414px) {
	.shape-line-c {
		top: -24vh;
	    right: -10px;
	    height: 8px;
	}
}
.shape-dot {
	position: absolute;
	top: -6vh;
	right: 28px;
	width: 10px;
	height: 10px;
	background-color: #FB0C66;
}
@media (max-width: 414px) {
	.shape-dot {
		top: -22vh;
	    right: -26px;
	    width: 8px;
	    height: 8px;
	}
}
.shape-rect--md {
	position: absolute;
	bottom: 0;
	left: 440px;
	width: 52px;
	height: 52px;
	background-color: #00EBE2;
	z-index: 30;
}
@media (max-width: 414px) {
	.shape-rect--md {
		bottom: 116px;
	    left: 290px;
	}
}
.shape-rect--md2 {
	position: absolute;
	top: 187px;
	right: 4vw;
	width: 30px;
	height: 30px;
	background-color: #00EBE2;
	z-index: 30;
}
@media (max-width: 414px) {
	.shape-rect--md2 {
		top: 400px;
	    right: 6vw;
	}
}
.shape-rect--md3 {
	/*position: absolute;*/
	/*bottom: -238px;
	left: 0;*/
	top: -30px;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
	/*height: 100%;*/
	border-top: 119px solid #fff;
	border-bottom: 119px solid transparent;
	border-left: 720px solid transparent;
	border-right: 720px solid transparent;
	z-index: 10;
}
@media (max-width: 576px) {
	.shape-rect--md3 {
		top: -26px;
		border-top: 70px solid #fff;
		border-bottom: 70px solid transparent;
		border-left: 420px solid transparent;
		border-right: 420px solid transparent;
	}
}
.shape-rect--sm {
	position: absolute;
	bottom: 10vh;
	right: 76px;
	width: 20px;
	height: 20px;
	background-color: #00EBE2;
}
@media (max-width: 414px) {
	.shape-rect--sm {
		bottom: 38vh;
	    right: 40px;
	}
}





/* menu-toggle
-----------------------*/
.menu-toggler {
	display: none;
    padding: 1.5rem 0.75rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}
@media (max-width: 414px) {
	.menu-toggler {
    	display: block;
	    padding: 1.5rem 0.75rem;
	}
}
.menu-toggler span {
	display: block;
	width: 20px;
	height: 2px;
	border-radius: 3px;
	background-color: #fefefe;
	margin-bottom: 5px;
	transition: all 0.3s;
}
.menu-toggler span:last-child {
	/*width: 10px;*/
	float: right;
}
.menu-toggler:hover span:nth-child(1) {
	transform: translateX(-20%);
}
.menu-toggler:hover span:nth-child(3) {
	transform: translateX(20%);
}
/* popup-menu
-----------------------*/
.popup-menu {
	width: 80%;
	height: 100%;
	position: fixed;
	top: 0;
	right: 0;
	padding: 45px 9px;
	background-color: #fefefe;
	opacity: 0;
	visibility: hidden;
	/*display: none;*/
	transition: all 0.3s;
}
@media (max-width: 414px) {
	.popup-menu {
		padding: 10px 14px;
		background-color: #ebebeb;
	}
}
.popup-menu.show {
	opacity: 1;
	visibility: visible;
}
.popup-menu--close {
	padding: 24px;
    display: block;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.25rem;
	transition: all 0.3s;
}
.popup-menu--close:hover {
	transform: rotate(180deg);
}
.popup-menu--close span {
	position: absolute;
	top: 50%;
	left: 50%;
	/*transform: translate(-50%,-50%);*/
	width: 24px;
	height: 2px;
	border-radius: 3px;
	background-color: #4B4B4B;
}
.popup-menu--close span:nth-child(1) {
	transform: translate(-50%,-50%) rotate(45deg);
}
.popup-menu--close span:nth-child(2) {
	transform: translate(-50%,-50%) rotate(-45deg);
}
.popup-menu ul {
	padding-top: 134px;
}
@media (max-width: 414px) {
	.popup-menu ul {
		padding-top: 93px;
	}
}
.popup-menu__item {
	display: block;
	font-family: "Source Sans Pro";
	color: #777777;
	font-size: 32px;
	font-weight: bold;
	letter-spacing: 1.6px;
	line-height: 40px;
	text-align: center;
	margin-bottom: 40px;
	transition: all 0.3s;
}
.popup-menu__item:hover {
	color: #00EBE2;
}

/* go to Top
-----------------------*/
.top {
	width: 52px;
	height: 52px;
	/*background-color: #fff;*/
	border-radius: 50%;
	position: fixed;
	bottom: 16px;
	right: 16px;
	line-height: 52px;
	text-align: center;
	border: 1.4px solid #00EBE2;
	transition: all .3s;
}
.top a {
	font-size: 16px;
	font-weight: 400;
	color: #00EBE2;
}
.top:hover {
	background-color: #00EBE2;
}
.top:hover a {
	color: #fff;
}
/*---------------------------*/
/* $Main
-----------------------------*/
.main-content,
.portfolio-content {
	/*border: 3px solid red;*/
	/*padding-top: 50px;*/
	margin-bottom: 89px;
}
@media (max-width: 462px) {
	.main-content {
		margin-bottom: 100px;
	}
}
@media (max-width: 414px) {
	.main-content {
		margin-bottom: 0;
	}
}
.main-hero {
	padding-left: 16px;
	width: 100%;
	height: 93vh;
	/*border: 3px solid blue;*/
}
@media (max-width: 414px) {
	.main-hero {
		height: 84vh;
	}
}
.main-hero:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
	z-index: -10;
}
.multi-bg {
	width: 100%;
	height: 90vh;
	border-radius: 0 0 0 80px;
	background-color: rgba(51,51,51,1);
	overflow: hidden;
	z-index: -1;
}
@media (max-width: 414px) {
	.multi-bg {
		height: 76vh;
	}
}
.color-mask {
	width: 100%;
	height: 100%;
	background:
	linear-gradient(180deg, rgba(51,51,51,0) -10%, rgba(51,51,51,1) 60%),
	url(../images/bg/white-printer-paper-196645.jpg);
	-webkit-background-size: 100% 1034px, cover;
	background-size: 100% 1034px, cover;
	background-repeat: no-repeat, no-repeat;
	background-position:
		center center,
		-73px -71px -38px;
	background-attachment: fixed;
	background-blend-mode: multiply;
	opacity: .4;
}
@media (max-width: 414px) {
	.color-mask {
		-webkit-background-size: cover, cover;
		background-size: cover, cover;
	}
}
.dot-bg {
	width: 2600px;
	height: 4600px;
	background: url(../images/bg/dot.svg) left bottom;
	-webkit-background-size: 15px;
	background-size: 15px;
	transform: rotate(45deg) translate(-80%,0%);
	opacity: .5;
}
@media (max-width: 992px) {
	.dot-bg {
		-webkit-background-size: 12px;
		background-size: 12px;
	}
}
@media (max-width: 576px) {
	.dot-bg {
		-webkit-background-size: 10px;
		background-size: 10px;
	}
}
.container,
.row {
	/*border: 1px solid orange;*/
	/*height: 100%;*/
}
.main-hero__content {
	position: absolute;
	top: 10px;
	left: 0;
	width: 100%;
	height: 90vh;
	/*border: 1px solid red;*/
}
.main-hero__group {
	width: 100%;
	height: 90vh;
	display: flex;
	/*border: 1px solid blue;*/
}
@media (max-width: 1200px) {
	.main-hero__group {
		max-width: 95%;
		height: 90vh;
	}
}
@media (max-width: 576px) {
	.main-hero__group {
		padding-top: 100px;
		padding-bottom: 100px;
		height: 90vh;
	}
}
@media (max-width: 414px) {
	.main-hero__group {
		padding-top: 80px;
		padding-bottom: 80px;
		height: 70vh;
	}
}
.main-hero__title {
	/*position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);*/
	/*width: 662px;*/
	/*width: 100%;*/
	/*height: 175px;*/
	/*border: 1px solid pink;*/
	z-index: 2;
}
@media (max-width: 576px) {
	.main-hero__title {
		padding-top: 0;
	}
}
.main-hero__title-sub {
	height: 30px;
	/*width: 331px;*/
	color: #FFFFFF;
	font-family: 'Noto Sans TC', sans-serif;
	font-size: 2.2rem;
	font-weight: 500;
	letter-spacing: 4px;
	line-height: 30px;
}
@media (max-width: 768px) {
	.main-hero__title-sub {
		font-size: 1.4rem;
	}
}
@media (max-width: 414px) {
	.main-hero__title-sub {
		font-size: 1.8rem;
	}
}
.main-hero__title-sub:after {
	content: '';
	position: absolute;
	top: 50%;
	right: 0.5%;
	width: 250px;
	border: 1px solid #979797;
}
@media (max-width: 1200px) {
	.main-hero__title-sub:after {
		width: 280px;
	}
}
@media (max-width: 992px) {
	.main-hero__title-sub:after {
		width: 186px;
	}
}
@media (max-width: 768px) {
	.main-hero__title-sub:after {
		width: 142px;
	}
}
@media (max-width: 414px) {
	.main-hero__title-sub:after {
		width: 78px;
	}
}
.main-hero__title-main {
	/*height: 131px;*/
	/*width: 662px;*/
	color: #00EBE2;
	font-family: "Noto Sans TC";
	font-size: 8rem;
	font-weight: 900;
	letter-spacing: 7px;
	text-align: justify;
	line-height: 131px;
	margin-top: -10px;
	margin-left: -6px;
	margin-right: -8px;
	/*border: 1px solid red;*/
}
@media (max-width: 1200px) {
	.main-hero__title-main {
		font-size: 8.4rem;
	}
}
@media (max-width: 992px) {
	.main-hero__title-main {
		font-size: 7rem;
	}
}
@media (max-width: 768px) {
	.main-hero__title-main {
		font-size: 5.4rem;
		letter-spacing: 4px;
		line-height: 86px;
	}
}
@media (max-width: 576px) {
	.main-hero__title-main {
		font-size: 7rem;
		letter-spacing: 4px;
		line-height: 86px;
	}
}
@media (max-width: 414px) {
	.main-hero__title-main {
		font-size: 5.3rem;
		letter-spacing: 4px;
		line-height: 86px;
	}
}
@media (max-width: 375px) {
	.main-hero__title-main {
		font-size: 4.8rem;
		letter-spacing: 4px;
		line-height: 86px;
	}
}
.main-hero__title-main span {
	font-weight: 300;
}
.main-hero__title-third {
	height: 24px;
	/*width: 265px;*/
	color: #FFFFFF;
	float: right;
	font-family: 'Noto Sans TC', sans-serif;
	font-size: 1.7rem;
	font-weight: 400;
	letter-spacing: 3px;
	line-height: 24px;
	/*border: 1px solid red;*/
	margin-right: -1px;
}
@media (max-width: 768px) {
	.main-hero__title-third {
		font-size: 1.2rem;
	}
}
@media (max-width: 414px) {
	.main-hero__title-third {
		font-size: 2.1rem;
	}
}
.main-hero__title-third:before {
	content: '';
	position: absolute;
	top: 50%;
	left: -129%;
	width: 320px;
	border: 1px solid #979797;
}
@media (max-width: 1200px) {
	.main-hero__title-third:before {
		left: -140%;
		width: 350px;
	}
}
@media (max-width: 992px) {
	.main-hero__title-third:before {
		left: -102%;
		width: 254px;
	}
}
@media (max-width: 768px) {
	.main-hero__title-third:before {
		left: -102%;
		width: 190px;
	}
}
@media (max-width: 414px) {
	.main-hero__title-third:before {
		left: -23%;
		width: 56px;
	}
}
.main-hero__logo {
	width: 40%;
	height: 56vh;
	/*border: 1px solid orange;*/
	background: url(../images/logo/Flyeee-logo-default.svg) right center no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
}
@media (max-width: 1200px) {
	.main-hero__logo {
		width: 40%;
		height: 60vh;
	}
}
@media (max-width: 576px) {
	.main-hero__logo {
		width: 60%;
		height: 44vh;
	}
}
@media (max-width: 414px) {
	.main-hero__logo {
		width: 70%;
		height: 32vh;
	}
}
/*---------------------------*/
/* $About
-----------------------------*/
.about-content {
	/*width: 1440px;*/
	/*height: 698px;*/
	background-color: #fff;
	/*padding-top: 70px;*/
	z-index: -2;
}
.about__portrait {
	/*width: 460px;*/
	/*height: 460px;*/
	/*background-color: #f3f3aa;*/
	margin-top: 158px;
}
@media (max-width: 375px) {
	.about__portrait {
		margin-top: 80px;
	}
}
@media (max-width: 375px) {
	.about__portrait {
		margin-top: 40px;
	}
}
.about__portrait-img {
	object-fit: cover;
	width: 100%;
	/*opacity: .1;*/
}
@media (max-width: 768px) {
	.about__text .title {
		margin-top: 0;
	}
}
@media (max-width: 414px) {
	.about__text .title {
		font-size: 5rem;
	}
}
.subtitle:after {
	content: '';
	position: absolute;
	bottom: -24px;
	left: 0;
	width: 32px;
	height: 3px;
	background-color: #FB0C66;
}




/*---------------------------*/
/* $Skills
-----------------------------*/
.skills-content {
	/*width: 100%;*/
	/*height: 1010px;*/
	padding-top: 30px;
	margin-top: -268px;
	background-color: #333333;
	/*border: 1px solid red;*/
}
@media (max-width: 576px) {
	.skills-content {
		padding-top: 20px;
		margin-top: -142px;
	}
}
.skills-content .row {
	/*border: 1px solid red;*/
}
.skills__text h1 {
	padding-top: 70px;
}
@media (max-width: 576px) {
	.skills__text h1 {
		padding-top: 0;
	}
}
@media (max-width: 414px) {
	.skills__text h1 {
		font-size: 5rem;
	}
}
.skills__text .subtitle:after {
	content: '';
	position: absolute;
	bottom: -24px;
	left: 50%;
	transform: translateX(-50%);
	width: 32px;
	height: 3px;
	background-color: #FB0C66;
}
.skills-group {
	padding-top: 30px;
	/*padding-bottom: 60px;*/
	/*border: 1px solid green;*/
}
.skills-group > .row:nth-child(1) {
	/*border: 1px solid yellow;*/
	/*margin-bottom: 70px;*/
}
.skills-group .col-md-6 {
	margin-bottom: 70px;
}
.skills-group .row:nth-child(2) .col-md-6:last-child {
	margin-bottom: 0;
}
@media (max-width: 768px) {
	.skills-group .row:nth-child(2) .col-md-6:last-child {
		margin-bottom: 30px;
	}
}
.skills-card {
	border: 2px solid #00EBE2;
	border-radius: 12px;
	overflow: hidden;
}
@media (max-width: 576px) {
	.skills-card {
		max-width: 90vw;
	}
}
@media (max-width: 768px) {
	.skills-card {
		padding: 20px;
	}
}
.skills-icon {
	width: 110px;
	height: 110px;
	/*background-color: #cd1111;*/
	margin-left: -16px;
	/*opacity: .5;*/
} 
@media (max-width: 768px) {
	.skills-icon {
		margin: 0 auto;
	}
}
.skills-icon__img {
	height: 100%;
}
@media (max-width: 768px) {
	.skills-icon__img {
		object-fit: cover;
	}
}
.skills-icon__img-icon {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-56%,-53%);
	/*width: 100%;
	height: 100%;*/
	/*background-color: #fff;*/
	z-index: 1;
}
@media (max-width: 768px) {
	.skills-icon__img-icon {
		transform: translate(-50%,-50%);
	}
}
@media (max-width: 414px) {
	.skills-icon__img-icon {
		transform: translate(-55%,-50%);
	}
}
.skills-icon__img-icon img {
	width: 90%;
}
.card-text {
	color: #fff;
	padding: 10px 40px 16px 0;
}
@media (max-width: 768px) {
	.card-text {
		padding: 10px 16px 0 16px;
	    margin: 0 auto;
	}
}
.card-text__title {
	font-weight: 400;
	padding: 0;
	margin: 0;
}
.card-text__description {
	border-bottom: 1px solid #a6a6a6;
	text-align: justify;
	padding-bottom: 10px;
	margin-bottom: 0;
}
.card-text__tool-title,
.card-text__tool-name{
	margin-bottom: 0;
	padding-top: 5px;
}
.card-text__tool-name {
	font-weight: 600;
	margin-left: -30px;
}
@media (min-width: 576px) {
	.card-text__tool-name {
		margin-left: -320px;
	}
}
@media (min-width: 415px) {
	.card-text__tool-name {
		margin-left: -10px;
	}
}
@media (max-width: 414px) {
	.card-text__tool-name {
		margin-left: 0;
	}
}
.card-text__tool .col-3,
.card-text__tool .col-12{
	padding: 0;
}
.shape-triangle--top {
	position: absolute;
	top: 0;
	right: 0;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 239px 100vw 0 0;
	border-color: #333333 transparent transparent transparent;
}
.shape-triangle--bottom {
	position: absolute;
	/*bottom: 90px;*/
	top: -120px;
	right: 0;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 239px 0 0 100vw;
	border-color: #fff transparent transparent transparent;
	/*z-index: 1000;*/
}
@media (max-width: 1200px) {
	.shape-triangle--top {
		border-width: 180px 100vw 0 0;
	}
	.shape-triangle--bottom {
		top: -100px;
		border-width: 180px 0 0 100vw;
	}
}
@media (max-width: 992px) {
	.shape-triangle--top {
		border-width: 140px 100vw 0 0;
	}
	.shape-triangle--bottom {
		top: -80px;
		border-width: 140px 0 0 100vw;
	}
}
@media (max-width: 768px) {
	.shape-triangle--top {
		border-width: 120px 100vw 0 0;
	}
	.shape-triangle--bottom {
		top: -40px;
		border-width: 120px 0 0 100vw;
	}
}
@media (max-width: 576px) {
	.shape-triangle--top {
		border-width: 80px 100vw 0 0;
	}
	.shape-triangle--bottom {
		top: -10px;
		border-width: 80px 0 0 100vw;
	}
}
@media (max-width: 360px) {
	.shape-triangle--top {
		border-width: 60px 100vw 0 0;
	}
	.shape-triangle--bottom {
		top: -5px;
		border-width: 60px 0 0 100vw;
	}
}
/*---------------------------*/
/* $Experience
-----------------------------*/
.experience-content {
	width: 100%;
	/*height: 1280px;*/
	padding-top: 130px;
	padding-bottom: 130px;
	background-color: #ebebeb;
	overflow: hidden;
}
@media (max-width: 1200px) {
	.experience-content {
		padding-top: 108px;
	}
}
@media (max-width: 992px) {
	.experience-content {
		padding-top: 86px;
	}
}
@media (max-width: 576px) {
	.experience-content {
		padding-bottom: 64px;
	}
}
@media (max-width: 320px) {
	.experience-content {
		padding-bottom: 42px;
	}
}
@media (min-width: 1200px) {
	.experience-content {
		margin-top: -60px;
	}
}
.experience-text {
	/*border: 1px solid red;*/
}
@media (max-width: 576px) {
	.experience-text .title{
		margin-top: 30px;
	}
}
@media (max-width: 414px) {
	.experience-text .title{
		font-size: 5rem;
	}
}
@media (max-width: 320px) {
	.experience-text .title{
		margin-top: 10px;
	}
}
.experience-group [class^="col-"] {
	/*padding: 0;*/
}
.experience-group .timeline:before {
	content: '';
	position: absolute;
	top: -204px;
	left: -54px;
    width: 8px;
    height: 838px;
    background-color: #A6A6A6;
    z-index: 1;
}
@media (max-width: 414px) {
	.experience-group .timeline:before {
		left: 0;
	}
}
@media (max-width: 1200px) {
	.experience-group .timeline:before {
		top: -216px;
		left: -54px;
	    height: 879px;
	}
} 
@media (max-width: 1024px) {
	.experience-group .timeline:before {
		top: -208px;
		left: -20px;
	    height: 879px;
	}
} 
@media (max-width: 992px) {
	.experience-group .timeline:before {
		top: -216px;
		left: -54px;
	    height: 879px;
	}
} 
.col-lg-4 {
	/*height: 250px;*/
	/*border: 1px solid pink;*/
}
.experience__item {
	width: 252px;
	height: 101px;
	text-align: right;
	/*background-color: #ccc;*/
}
@media (max-width: 992px) {
	.experience__item {
		text-align: left;
		margin-bottom: 16px;
	}
	.experience__item-title {
		line-height: 34px;
	}
}
@media (max-width: 414px) {
	.experience__item {
		width: 100%;
	}
	.experience__item-title {
		line-height: 34px;
	}
}
.experience__item-subtitle {
	font-weight: 400;
	margin: 0;
}
.experience__item-subtitle span{
	font-weight: 600;
}
.experience__item-title {
	padding: 0;
	margin: 0;
	font-weight: 500;
}
.experience-description p {
	/*color: #333333;*/
	margin-bottom: 0;
}
.col-lg-8,.experience-description {
	/*max-width: 100%;*/
	/*border: 1px solid blue;*/
	/*height: 100%;*/
}


/* timeline
-----------------------*/


/*---------------------------*/
/* $Works
-----------------------------*/
.works-content {
	width: 100%;
	/*height: 1280px;*/
	padding-top: 30px;
	padding-bottom: 180px;
	margin-top: -60px;
	background-color: #333333;
	/*overflow: hidden;*/
}
.works-content .shape-triangle--bottom,
.works-content .shape-triangle--top {
	top: -132px;
	transform: rotate(180deg);
}
@media (max-width: 1440px) {
	.works-content .shape-triangle--bottom,
	.works-content .shape-triangle--top {
		top: -132px;
	}
}
@media (max-width: 1200px) {
	.works-content .shape-triangle--bottom,
	.works-content .shape-triangle--top {
		top: -114px;
	}
}
@media (max-width: 992px) {
	.works-content .shape-triangle--bottom,
	.works-content .shape-triangle--top {
		top: -94px;
	}
}
@media (max-width: 768px) {
	.works-content .shape-triangle--bottom,
	.works-content .shape-triangle--top {
		top: -62px;
	}
	.works-content {
		margin-top: -70px;
		padding-top: 50px;
	}
}
@media (max-width: 576px) {
	.works-content .shape-triangle--bottom,
	.works-content .shape-triangle--top {
		top: -44px;
	}
}
@media (max-width: 320px) {
	.works-content .shape-triangle--bottom,
	.works-content .shape-triangle--top {
		top: -58px;
	}
	.works-content {
		margin-top: 20px;
		padding-top: 0;
	}
}
.works-content .shape-triangle--bottom {
	/*left: -60px;*/
}
.works__text {
	margin-top: -50px;
}
.works__text .subtitle:after {
	left: 50%;
	transform: translateX(-50%);
}
.works__imgbox {
	width: 100%;
	height: 100%;
	border: 3px solid #00EBE2;
	border-radius: 12px;
	overflow: hidden;
}
.works__imgbox img {
	width: 100%;
	object-fit: cover;
}
.works-group {
	padding-top: 30px;
}
.works-group [class^="col-"] {
	margin-bottom: 40px;
}
@media (max-width: 375px) {
	.works-group [class^="col-"] {
		margin-bottom: 20px;
	}
}


/*---------------------------*/
/* $Contact
-----------------------------*/
.contact-content {
	background-color: #fff;
	border-radius: 80px 80px 0 0;
	margin-top: -90px;
	z-index: 1;
}
@media (max-width: 375px) {
	.contact-content {
		border-radius: 50px 50px 0 0;
		margin-top: -120px;
	}
}
.contact__text .subtitle:after {
	left: 50%;
	transform: translateX(-50%);
}
@media (max-width: 320px) {
	.contact__text .title {
		margin-top: 40px;
	}
}
.contact-group {
	padding-top: 30px;
	padding-bottom: 60px;
}
@media (max-width: 992px) {
	.contact-group {
		padding-top: 20px;
		padding-bottom: 40px;
	}
}
@media (max-width: 375px) {
	.contact-group {
		padding-top: 10px;
		padding-bottom: 10px;
	}
}
.contact-card {
	/*width: 300px;*/
	height: 158px;
	border: 2px solid #00EBE2;
	border-radius: 10px;
	text-align: center;
	padding: 20px;
}
.contact-card__icon {
	font-size: 4rem;
	color: #00EBE2;
}
.contact-card__icon-name {
	margin: 0;
}
.contact-card__icon-detail {
	text-align: center;
}
.contact-group .col-sm-8 {
	margin-bottom: 30px;
}
.contact-group .col-10 {
	margin-bottom: 20px;
}




/*---------------------------*/
/* $Isotope 圖片篩選插件
-----------------------------*/
/*.grid-item  {
	width: 25%;
	background-color: pink;
}
.grid-item-width2  {
	width: 50%;
}*/
/* ---- grid ---- */
/*html  { overflow-y: scroll; }*/

.grid {
	/*background: #DDD;*/
	margin: 0 -5px;
}

/* clear fix */
.grid:after {
	content: '';
	display: block;
	clear: both;
}

/* ---- grid-item ---- */

/* fluid 5 columns */
.grid-sizer,
.grid-item {
	width: 25%;
}
/* 2 columns */
.grid-item-width2 {
	width: 40%;
}

.grid-item {
	float: left;
	padding: 5px;
	margin: 0;
	/*border: 1px solid red;*/
}
@media (max-width: 992px) {
	.grid-sizer,.grid-item {
		width: 33.33333%;
	}
}
@media (max-width: 768px) {
	.grid-sizer,
	.grid-item {
		width: 50%;
	}
}
@media (max-width: 576px) {
	.grid-sizer,
	.grid-item {
		width: 100%;
	}
}
.grid-item img {
	display: block;
	max-width: 100%;
	/*transition: all .3s;*/
	z-index: 98;
}
.grid-item:hover .grid-item-inner {
	transform: scale(1.2);
	box-shadow: 0 0 20px rgba(0,0,0,.5);
	z-index: 100;
}
.grid-item-inner {
	width: 100%;
	height: 100%;
	z-index: 99;
	border: 1px solid red;
	transition: all .3s ease;
	overflow: hidden;
}
/* hover時顯示底部黑色漸層 */
.grid-item-inner:after {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	opacity: 0;
	background: linear-gradient(0deg,rgba(0,0,0,.8),rgba(0,0,0,0));
	transition: all .3s ease;
	z-index: 100;
}
.grid-item:hover :after {
	/*height: 100px;*/
	/*opacity: 1;*/
}
.button-group {
	margin-bottom: 50px;
}
.button-group .btn {
	color: #fff;
	font-style: 14px;
	font-weight: 400;
	background-color: transparent;
	border: 1.4px solid transparent;
	border-radius: 50px;
	height: 30px;
	line-height: 30px;
	padding-bottom: 30px; 
	margin-right: 24px;
}
.button-group .btn:hover {
	/*background-color: #00EBE2;*/
	border: 1.4px solid #00EBE2;
	/*color: #333333;*/
}
.button-group .btn:focus {
	border: 1.4px solid #00EBE2;
}

/* 正方形縮圖排版 */

.jq-sqare-grid {
	/*background: #DDD;*/
	width: 100% !important;
	/*max-width: 1140px !important;*/
	margin: 0 auto !important;
	height: 220px; /* inherit height from body */
	/*border: 1px solid pink;*/
	white-space: nowrap;
    overflow-x: auto;
    overflow-y: auto;
}
/*@media (max-width: 768px) {
	.jq-sqare-grid {
		max-width: 720px;
		margin: 0 10px;
	}
	.sqare-grid-item {
		height: 200px;
		margin-right: 10px;
	}
	.grid-item-content  {
	  width: 200px;
	  height: 200px;
	}
}*/
@media (max-width: 576px) {
	.jq-sqare-grid {
		max-width: 336px !important;
	}
}
.jq-sqare-grid:after {
	content: '';
	display: block;
	clear: both;
}
.sqare-grid-item {
	  float: left;
}
/* item is invisible, but used for layout */
.sqare-grid-item {
	width: auto;
	height: 100px;
	/*height: 100px;*/
	margin-right: 10px;
	/*border: 1px solid #00EBE2;*/
}

/* item-content is visible, and transitions size */
.grid-item-content {
  width: 100px;
  height: 100px;
  overflow: hidden;
  /*height: 80px;*/
  /*background: #0D8;*/
  /*border: 2px solid blue;*/
  /*border-color: hsla(0, 0%, 0%, 0.7);*/
  -webkit-transition: all 0.4s;
     -moz-transition: all 0.4s;
       -o-transition: all 0.4s;
          transition: all 0.4s;
}

/*.sqare-grid-item:hover .grid-item-content  {
  background: #8CF;
  cursor: pointer;
}*/


.sqare-grid-item a {
	display: block;
	width: 100%;
	height: 100%;
	/*border: 1px solid green;*/
	z-index: 99;
}
.sqare-grid-item img {
	display: block;
	/*top: -20px;*/
	/*left: -20px;*/
	/*top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);*/
	/*vertical-align: middle;*/
	/*object-fit: cover;*/
	/*object-position: center center;*/
	/*border: 1px solid red;*/
	/*opacity: 0;*/
	transition: all .3s;
	z-index: 98;
}
.horizon img {
	height: 100%;
	width: auto;
}
.vertical img {
	width: 100%;
	height: auto;
}
.sqare-grid-item:hover img {
	transform: scale(1.2);
	box-shadow: 0 0 20px rgba(0,0,0,.5);
	z-index: 100;
}






/* both item and item content change size */
.grid-item.is-expanded,
.grid-item.is-expanded .grid-item-content {
  width: 240px;
  height: 160px;
}

.grid-item.is-expanded {
  z-index: 2;
}

.grid-item.is-expanded .grid-item-content {
  background: #F90;
}




/*---------------------------*/
/* $Footer
-----------------------------*/
.footer {
	position: fixed;
	width: 100%;

	/*margin-bottom: 90px;*/
	bottom: 0;
	/*height: 90px;*/



	/*line-height: 100px;*/
	/*height: 100px;*/

	/*margin-top: auto;*/
	/*height: 90px;*/
	/*background-color: #333333;*/
	z-index: -999;
}
@media (max-width: 414px) {
	.footer {
		position: sticky;
	}
}
.z-top {
	z-index: 999;
}
.footer__logo {
	width: 26px;
	/*height: 100%;*/
	/*border: 1px solid #fff;*/
	padding: 12px 0 15px 0;
	/*background: url(../images/logo/Flyeee-logo-flat.svg) center center no-repeat;*/
	/*-webkit-background-size: cover;*/
	/*background-size: contain;*/
}
@media (max-width: 575px) {
	.footer__logo {
		display: none;
	}
}
.footer__logo img{
	width: 100%;
	object-fit: cover;
}
.footer-content {
	/*height: 100%;*/
	padding: 20px;
	/*border: 1px solid red;*/
}
.copyright {
	font-weight: 300;
	font-size: 1.4rem;
	letter-spacing: 0.1rem;
	height: 100%;
	padding-left: 20px;
	margin: 0;
	/*border: 1px solid #fff;*/
}
@media (max-width: 320px) {
	.copyright {
		letter-spacing: 0;
	}
}
.copyright span {
	font-weight: 600;
}

/*---------------------------*/
/* $Parallax graphic
-----------------------------*/

/*---------------------------*/
/* $Portfolio
-----------------------------*/
.portfolio-content {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding-top: 90px;
	background-color: #333333;
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s;
	z-index: 40;
}
.portfolio-content.show {
	opacity: 1;
	visibility: visible;
}
.portfolio-content-test {
	top: 0;
	left: 0;
	width: 100%;
	height: 900px;
	padding-top: 90px;
	background-color: #333333;
	transition: all 0.3s;
	z-index: 40;
}



